<!--Box-slider-->
<div class="box">
    <!--img-box-->

    <div class="slide-img">
        <img src="{{[img]}}">
        <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
        </ul>
        <div class="overlay">
            <!--Buy-btn-->

        </div>
    </div>

    <div class="detail-box">
        <div class="type">
            <a href="#">{{[nombre]}}</a>
            <span>{{marca}}</span>
        </div>

        <a href="#" class="price">s/.{{[precio]}}</a>
    </div>
</div>