<!--Box-slider-->
<div class="box">
    <!--img-box-->

    <div class="slide-img">
        <img src="https://video-images.vice.com/_uncategorized/1507043104908-_MG_8079.jpeg">
        <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
        </ul>
        <div class="overlay">
            <!--Buy-btn-->

        </div>
    </div>

    <div class="detail-box">
        <div class="type">
            <a href="#">rabbed cardinga</a>
            <span>noe arrival</span>
        </div>

        <a href="#" class="price">$23</a>
    </div>
</div>
