body {
    margin: 0px;
    padding: 0px;
    background-color: #eef8ff;
}

.box {
    margin: 1rem;
}

a {
    text-decoration: none;
}

.box {
    width: 220px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: rgb(239, 243, 243);
}

.slide-img {
    height: 220px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}

.type {
    display: flex;
    flex-direction: column
}

.type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.text span {
    color: rgba(26, 26, 26, 0.5);
}

.price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(168, 163, 163, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover {
    color: #ffff;
    background-color: #f15fa3;
    transition: all ease 0.3;
}

.overlay {
    visibility: hidden;
}

.slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-img .icons {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.slide-img .icons span {
    background-color: #fff;
    font-size: 1rem;
    display: block;
    border-radius: 50%;
    padding: 1rem 1rem;
    margin: 1rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.slide-img .icons span i {
    transition: all 500ms ease-in-out;
}

.slide-img .icons span.nav-item:not(:last-child) {
    transition: all 500ms ease-in-out;
}

.slide-img .icons span:hover {
    background-color: #f8881f;
    color: #fff;
}

.box:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}