<!--
<div class="box-navPanel">

    <app-titulo-centrado-main></app-titulo-centrado-main>
    <ngb-carousel>
        <ng-template ngbSlide>

            <div class="caja">
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>

            </div>


        </ng-template>
        <ng-template ngbSlide>
            <div class="caja">
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>-->
<div>
    <app-titulo-centrado-main [titulo]="titulo"></app-titulo-centrado-main>

    <div class="products-box-container">

        <app-productsmain class="product-box" [precio]="'10'" [nombre]="'Aceite qenda power 4T'" [marca]="'Quenda'" [img]="'../../assets/prodct_img/aceite_quenda.png'"></app-productsmain>
        <app-productsmain class="product-box" [precio]="'12'" [nombre]="'ACEITE SAI 20W50 4T LATA'" [marca]="'SAI'" [img]="'../../assets/prodct_img/aceite_sai.png'"></app-productsmain>
        <app-productsmain class="product-box" [precio]="'10'" [nombre]="'ACEITE LITTEN 4T-20W50'" [marca]="'LITTEN'" [img]="'../../assets/prodct_img/aceite_litten.png'"></app-productsmain>
        <app-productsmain class="product-box" [precio]="'26'" [nombre]="'ARO 1.40-18 ATLAS-GT DELANT'" [marca]="'DELANT'" [img]="'../../assets/prodct_img/atlas.png'"></app-productsmain>
        <app-productsmain class="product-box" [precio]="'53'" [nombre]="'LLANTA 275X18 OSAKA PREMIUM'" [marca]="'OSAKA'" [img]="'../../assets/prodct_img/Llanta_pr.png'"></app-productsmain>

        <app-productsmain class="product-box" [precio]="'40'" [nombre]="'AMORTIG. CB125 CROMADO OSAKA UNO'" [marca]="'OSAKA'" [img]="'../../assets/prodct_img/resorte1.png'"></app-productsmain>
        <app-productsmain class="product-box" [precio]="'50'" [nombre]="'BATERIA 12N7A-3A C/ACIDO RAYBAR'" [marca]="'RAYBAR'" [img]="'../../assets/prodct_img/bateria_raybar.png'"></app-productsmain>
        <app-productsmain class="product-box" [precio]="'6'" [nombre]="'ACOPLE CARBURADOR CG200/250 BMT'" [marca]="'BMT'" [img]="'../../assets/prodct_img/acople_carburador.png'"></app-productsmain>


    </div>
</div>