<div>

    <app-titulo-centrado-main></app-titulo-centrado-main>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="caja">
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
            </div>


        </ng-template>
        <ng-template ngbSlide>
            <div class="caja">
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
                <div class="picsum-img-wrapper">
                    <app-productsmain></app-productsmain>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>