<div>
    <app-titulo-centrado-main [titulo]="titulo"></app-titulo-centrado-main>
    <div class="box-marcas">

        <mat-card class="example-card">

            <img mat-card-image src="../../assets/prodct_img/saim.png" alt="Photo of a Shiba Inu">

        </mat-card>
        <mat-card class="example-card">

            <img mat-card-image src="../../assets/prodct_img/quendam.png" alt="Photo of a Shiba Inu">

        </mat-card>
        <mat-card class="example-card">

            <img mat-card-image src="../../assets/prodct_img/bmt.png" alt="Photo of a Shiba Inu">

        </mat-card>
    </div>
</div>