.example-card {
    width: 100%;
    margin: 2rem;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.box-marcas {
    display: flex;
    background: rgb(255, 255, 255);
}