<div class="container">

  <ul class="slider">
    <li id="slide1">
      <img src="../../assets/icons/summer.PNG"/>
    </li>
    <li id="slide2">
      <img src="../../assets/icons/summer0.PNG"/>
    </li>
    <li id="slide3">
        <img src="../../assets/icons/summer1.PNG"/>

    </li>
    <li id="slide4">
        <img src="../../assets/icons/summer2.PNG"/>

    </li>
  </ul>

  <ul class="menu">
    <li>
      <a href="#slide1"></a>
    </li>
    <li>
      <a href="#slide2"></a>
    </li>
     <li>
      <a href="#slide3"></a>
    </li>
    <li>
     <a href="#slide4"></a>
   </li>
  </ul>

</div>
