<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Politicas de la empresa</h4>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Terminos y condicione</a></li>
                    <li><a href="">Politicas de privacti y condicione</a></li>

                </ul>
            </div>

            <div class="footer-col">
                <h4>Opciones de pago aceptadas</h4>
                <ul>
                    <li><img class="payOptions" height="80" src="../../assets/pagos/visa.svg" /></li>
                    <li>
                        <img class="payOptions" height="80" src="../../assets/pagos/mc_vrt_pos.svg" alt="">
                    </li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Redes sociales</h4>
                <ul>
                    <li>
                        <a href=""><img height="40" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" /></a>
                    </li>
                    <li>
                        <a href=""><img height="40" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" /> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>