
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}



h1,
h2,
h3,
h4 {
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}






.nav {
    padding: 1.6rem 0;
}




.top-nav {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 0.5rem;
}










.nav-list .nav-item a {
    position: relative;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

.nav-link i {
    font-size: 2rem;
}

.nav-list .nav-item a:before {
    content: '';
    position: absolute;
    background-color: rgb(252, 141, 66);
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.nav-list .nav-item a:hover:before {
    width: 100%;
}
.PROS{
  width: 50%;
  margin-left: 35rem;
  height: 90px;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.izquierda .iz-item a {
    position: relative;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
.izquierda{
  margin-top: 5rem;
margin-top: -25.35rem;
margin-left: 10rem;
border-radius: 4px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    width: 16%;
background-color: white;
}
.izquierda .iz-item  {
    margin-left: 20px;
    margin-top: 6rem;
    padding-top: 20px;
}
.Productos{
  width: 61%;
margin-left: 35rem;
height: 220px;
margin-top: 2rem;
border-radius: 4px;
box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
background-color: white;
}
.div3{
  width: 61%;
margin-left: 35rem;
height: 59px;
margin-top: 5rem;
border-radius: 4px;
box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
background-color: white;
}
.div-abajo{
  margin-left: 35rem;
  height: 59px;
  width: 61%;
  border-radius: 4px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  margin-top: -4.5rem;

}
.Productos img{
  width: 18%;
margin-left: 3rem;
margin-top: 1rem;
transition: transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
}
