<div>
    <app-titulo-centrado-main></app-titulo-centrado-main>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://www.infofueguina.com/u/fotografias/m/2020/5/30/f608x342-67739_97462_41.jpg" alt="Angular Carousel 1">
            </div>
            <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://i.ytimg.com/vi/1xEqv2O4oUo/maxresdefault.jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Consectetur tortor volutpat pretium.</p>
            </div>
        </ng-template>
    </ngb-carousel>

</div>