<div>
    <app-titulo-centrado-main [titulo]="titulo"></app-titulo-centrado-main>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://img.freepik.com/psd-gratis/plantilla-banner-ventas-colores-brillantes_23-2148986767.jpg?size=626&ext=jpg" alt="Angular Carousel 1">
            </div>
            <div class="carousel-caption">
                <h3>1</h3>

            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://img.freepik.com/psd-gratis/plantilla-banner-ventas-colores-brillantes_23-2148986767.jpg?size=626&ext=jpg" alt="Angular Carousel 2">
            </div>
            <div class="carousel-caption">
                <h3>2</h3>

            </div>
        </ng-template>
    </ngb-carousel>

</div>