<div>
  <div class="title">
      <h1>QUIENES SOMOS</h1>
  </div>
    <div class="direccion">

        <div class="contacto-in">
            <h1>BICIMOTO IMPORT</h1>

            <p>EMPRESA DE VENTAS DE REPUESTOS EN GENERAL AL POR MAYOR Y MENOR PARA MOTOS Y MOTOTAXIS.</p>
            <br>
            <h3>Historia</h3>
            <br>
            <p>La empresa empezó sus actividades un 8 de enero de 2002 en la ciudad de Pucallpa con la iniciativa de ventas de repuestos y motos. A lo largo de los años la empresa fue abriendo sedes en la ciudad de Pucallpa y a en la parte norte del país (Chiclayo). Actualmente la empresa cubre gran parte de su demanda, pero quiere innovar a través de las tecnologías modernas e implementar un mejor servicio a sus clientes y las facilidades de contacto a través de una tienda e-commerse. </p>
        </div>
        <div class="contacto-in">
           <img src="../../assets/icons/NOS.jpg" alt="">
    </div>
</div>
<br>
<div class="direccion">

    <div class="contacto-in">
        <h1>NUESTRO COMPROMISO</h1>
           <br>

        <p>•	El impacto que está generando el uso de comercio electrónico y que generará es arrollador, tanto en las empresas como en la sociedad en su conjunto.



 </p>
 <p>

   •	Esta nueva tecnología está adquiriendo gran importancia debido a que las empresas están teniendo una presencia electrónica básica sobre la red global abierta, aprendiendo de la experiencia, siendo gradualmente más sofisticada en el uso que hacen de las tecnologías.</p>
 <p>
   •	A pesar de que aún quedan temas abiertos por resolver (marco jurídico, seguridad, tecnológico), el comercio electrónico ya está en marcha y además de forma acelerada.
 </p>
 <p>
   •	Es necesario tener definido un marco jurídico para las operaciones que se realizan en un ambiente de comercio electrónico.

 </p>
 <p>
•	Por falta de una normatividad jurídica, operativa, técnica se pueden estar presentando problemas de evasión de pago de impuestos al no cumplirse el ciclo completo de la transacción con la entrega de la factura al comprador.
 </p>
    </div>
    <div class="contacto-in">
       <img src="../../assets/icons/NOS.jpg" alt="">
</div>
</div>
<br>
<footer>
<div class="final">
    <h1>FOOTER</h1>
</div>
</footer>
