
<nav class="nav">
    <script src="../../assets/js/sidebar.js"></script>
    <div class="navigation container">
        <div class="logo">
            <h1>SummerBicy</h1>
        </div>

        <div class="menu">
            <div class="top-nav">
                <div class="logo">
                    <h1>summertikko</h1>
                </div>
                <div class="close">
                    <i class='bx bx-x'></i>
                </div>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a [routerLink]="['']" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Productos</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['./ubicanos']"  class="nav-link">Ubicanos</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['./nosotros']"  class="nav-link">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">account</a>
                </li>
                <li class="nav-item">
                    <a href="cart.html" class="nav-link icon">
                        <i class="bx bx-shopping-bag"></i></a>

                </li>
            </ul>
        </div>
        <a href="cart.html" class="cart-icon">
            <i class="bx bx-shopping-bag"></i>
        </a>

        <div class="hamburger">
            <i class="bx bx-menu"></i>
        </div>
    </div>
</nav>
