<div class="testimonial">
    <div class="testimonial-heading">
        <span></span>
        <app-titulo-centrado-main [titulo]="titulo"></app-titulo-centrado-main>
        <h1>QUE DICEN NUESTROS CLIENTES</h1>
    </div>
    <div class="testimonial-box-container">
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://estaticos.marie-claire.es/media/cache/1140x_thumb/uploads/images/gallery/55dd81d026e1043b24a9f39c/58.jpg">
                    </div>
                    <div class="name-user">
                        <strong>Pacho Gomez</strong>
                        <strong>@paches</strong>
                    </div>
                </div>
                <div class="reviews">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>

                </div>
            </div>

            <!--Comments--->
            <div class="client-coment">
                <p>Excelentes productos a la venta, recomiendo su compra aqui</p>
            </div>

        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://pbs.twimg.com/profile_images/622838020622950400/Zw1kWssS_400x400.jpg">
                    </div>
                    <div class="name-user">
                        <strong>berthy gonzales</strong>
                        <strong>@berthyGonza</strong>
                    </div>
                </div>
                <div class="reviews">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
            </div>

            <!--Comments--->
            <div class="client-coment">
                <p>Un excelente servicio, los productos llegaron en un buen estado</p>
            </div>

        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://pbs.twimg.com/media/CZXmL1BWYAEVNrf.jpg">
                    </div>
                    <div class="name-user">
                        <strong>Dennis</strong>
                        <strong>@DennisCpp</strong>
                    </div>
                </div>
                <div class="reviews">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
            </div>

            <!--Comments--->
            <div class="client-coment">
                <p>Fue mi primera compra y llego el pedido muy rapido</p>
            </div>

        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://i.pinimg.com/736x/2b/55/59/2b55590a6e9c610cf4672ebaf8f1a718--men-art-hot-guys.jpg">
                    </div>
                    <div class="name-user">
                        <strong>Ales</strong>
                        <strong>@AlesGo</strong>
                    </div>
                </div>
                <div class="reviews">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
            </div>

            <!--Comments--->
            <div class="client-coment">
                <p>Definitivamente volveria a comprar con esta empresa, llego en perfecto estado el producto </p>
            </div>

        </div>
    </div>

</div>