<div class="testimonial">
    <div class="testimonial-heading">
        <span></span>
        <app-titulo-centrado-main></app-titulo-centrado-main>
        <h1>QUE DICEN NUESTROS CLIENTES</h1>
    </div>
    <div class="testimonial-box-container">
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://1.bp.blogspot.com/-sdVhO2WVhYQ/XxtwJ3ZIF-I/AAAAAAAAE7E/OZrWAStkl10AkbVMM4DJa-mTU26IwN95wCLcBGAsYHQ/s1200/sl16fo11_0.jpg">
                    </div>
                    <div class="name-user">
                        <strong>berthy</strong>
                        <strong>@sdasd</strong>
                    </div>
                </div>
                <div class="reviews">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
            </div>

            <!--Comments--->
            <div class="client-coment">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur ad maxime ipsa perspiciatis sed nam expedita assumenda qui, optio voluptates, iure eveniet inventore suscipit eum? Facilis incidunt reiciendis officia repellat!</p>
            </div>

        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://1.bp.blogspot.com/-sdVhO2WVhYQ/XxtwJ3ZIF-I/AAAAAAAAE7E/OZrWAStkl10AkbVMM4DJa-mTU26IwN95wCLcBGAsYHQ/s1200/sl16fo11_0.jpg">
                    </div>
                    <div class="name-user">
                        <strong>berthy</strong>
                        <strong>@sdasd</strong>
                    </div>
                </div>
                <div class="reviews">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
            </div>

            <!--Comments--->
            <div class="client-coment">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur ad maxime ipsa perspiciatis sed nam expedita assumenda qui, optio voluptates, iure eveniet inventore suscipit eum? Facilis incidunt reiciendis officia repellat!</p>
            </div>

        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://1.bp.blogspot.com/-sdVhO2WVhYQ/XxtwJ3ZIF-I/AAAAAAAAE7E/OZrWAStkl10AkbVMM4DJa-mTU26IwN95wCLcBGAsYHQ/s1200/sl16fo11_0.jpg">
                    </div>
                    <div class="name-user">
                        <strong>berthy</strong>
                        <strong>@sdasd</strong>
                    </div>
                </div>
                <div class="reviews">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
            </div>

            <!--Comments--->
            <div class="client-coment">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur ad maxime ipsa perspiciatis sed nam expedita assumenda qui, optio voluptates, iure eveniet inventore suscipit eum? Facilis incidunt reiciendis officia repellat!</p>
            </div>

        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://1.bp.blogspot.com/-sdVhO2WVhYQ/XxtwJ3ZIF-I/AAAAAAAAE7E/OZrWAStkl10AkbVMM4DJa-mTU26IwN95wCLcBGAsYHQ/s1200/sl16fo11_0.jpg">
                    </div>
                    <div class="name-user">
                        <strong>berthy</strong>
                        <strong>@sdasd</strong>
                    </div>
                </div>
                <div class="reviews">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
            </div>

            <!--Comments--->
            <div class="client-coment">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur ad maxime ipsa perspiciatis sed nam expedita assumenda qui, optio voluptates, iure eveniet inventore suscipit eum? Facilis incidunt reiciendis officia repellat!</p>
            </div>

        </div>
    </div>

</div>