* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.direccion {
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.contacto-in {
    padding: 40px 30px;
}

.contacto-in:nth-child(1) {
    flex: 35%;
}

.contacto-in:nth-child(2) {
    flex: 65%;
    padding: 0;
}

.contacto-in h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contacto-in h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 15px;
      color: rgb(252, 141, 66);
}

.direccion {
    width: 90%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgb(255, 255, 255);

}

.contacto-in img {
    height: 100%;

    object-fit: cover;
    object-position: center;

    border-end-end-radius: 10px;
  border-start-end-radius:10px;
}
.t1{

    width: 57%;
margin-left: 30rem;
margin-top: -27.74rem
}
.t2{
  width: 57%;
  margin-left: 30rem;
  margin-top: -27.74rem
}

@media(max-width:400px) {
    .contacto-in h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .contacto-in h2 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 15px;
    }
}
.title {
    margin: 2rem 0 2rem 0;
    text-align: center;
}

.title h1 {
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    z-index: 0;

}

.title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: rgb(252, 141, 66);
    width: 110%;
    height: 0.4rem;
}

.final h1{
    font-weight: 500;
}
.ubi{
  margin-top: 5.8rem;
}
