<div>
  <div class="title">
      <h1>NUESTRAS TIENDAS</h1>
  </div>
    <div class="direccion">

        <div class="contacto-in">
            <h1>GUILLERMO
              SYSLEY</h1>


            <br>
            <h3>Contactanos</h3>
            <br>

            <h4>Telefonos: </h4>
             <p>(061) 505610 - Oficinas</p>
                <p>(061) 505610- Ventas</p>
                <br>
                <p>Asistencia</p>
                <p>+51 961659196</p>
        </div>
<div class="contacto-in">
  <br>
  <h3 class="ubi" >Ubicanos</h3>
  <br>
  <h4>Direccion: </h4>
   <p>Jr.Guillermo Sisley #340</p>
   <h4>Google Maps:</h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.2452310177177!2d-74.54124358464425!3d-8.377522186791964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91a3bd96b015653b%3A0xed6f012b05381200!2sBicimoto%20Import%20E.I.R.L!5e0!3m2!1ses!2spe!4v1631495927642!5m2!1ses!2spe" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          <img class="t1" src="../../assets/icons/NOS.jpg" alt="">
</div>


</div>
<br>
<div class="direccion">

    <div class="contacto-in">
        <h1>  CARMEN CABREJOS</h1>
           <br>
<h3>Contactanos</h3>
<br>
        <h4>Telefonos: </h4>
         <p>(061) 591192 - Oficinas</p>
            <p>(061) 599897 - Ventas</p>
            <br>
            <p>Asistencia</p>
            <p>+51 962963963</p>
    </div>
    <div class="contacto-in">
      <br>
      <h3 class="ubi" >Ubicanos</h3>
      <br>
      <h4>Direccion: </h4>
       <p>Jr.Guillermo Sisley #340</p>
       <h4>Google Maps:</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.229515158699!2d-74.53333208464419!3d-8.379071086811997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91a3bceee68c8719%3A0xda079c49f1b9a70f!2sBICIMOTO%20IMPORT%20E.I.R.L!5e0!3m2!1ses!2spe!4v1631495704379!5m2!1ses!2spe" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              <img class="t1" src="../../assets/icons/NOS2.jpg" alt="">
    </div>
</div>
<br>
